@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, h1, h2, p {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a, a::after, a:visited,
a:active, a:hover {
  color: inherit;
  text-decoration: inherit;
}

.d-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  flex-direction: row;
  justify-content: center;
}

.pop {
  font-family: 'Poppins', sans-serif;
}

main {
  width: 100%;
  align-items: center;
  justify-content: center;
}

body {
  min-width: 800px;
  font-family: 'Bebas Neue', 'Courier New', Courier, monospace;
  background-image: url("../img/bg/bg.jpg");
  background-color: black;
  text-align: center;
  justify-content: space-between;
  color: white;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
}

#page-title {
  padding-top: 20px 0;
  text-align: center;
  color: #e7b22c;
  font-size: 60px;
}



#main-title {
  padding: 10px 0;
  text-align: center;
  color: #ffffff;
  font-size: 35px;
  padding-bottom: 20px;
}

#main-settings {
  gap: 30px;
}

.set-cards {
  width: 200px;
  height: 400px;
  border: solid 2px white;
  background-color: #333333;
  border-radius: 20px;
  color: white;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.set-picture img {
  position: relative;
  top: -15px;
  display: block;
  max-width: 100%;
}

.hab-title,
.action-title {
  font-size: 32px;
  line-height: 30px;
}

.hab-title {
  margin-top: -14px;
}

.action-title {
  padding-top: 20px;
}

#hab-input {
  width: 100px;
  background:none;
  border: white dotted 2px;
  color:  #e7b22c;
  text-align: center;
  overflow: hidden;
  font-size: 25px;
  font-family: 'Bebas Neue', 'Courier New', Courier, monospace;
  padding: 2px;
}

#hab-input:focus {
  outline: none;
  color: #000000;
  background-color: #e7b22c;
}

#set-bonus {
  gap: 5px;
}

#text-bonus {
  margin-bottom: -11px;
}

.action-subtitle {
  font-size: 25px;
}

.set-boxes {
  accent-color: #e7b22c;
}

.set-input {
  width: 30px;
  background:none;
  border: white dotted 2px;
  color:  #e7b22c;
  text-align: center;
  overflow: hidden;
  font-size: 20px;
  font-family: 'Bebas Neue', 'Courier New', Courier, monospace;
  padding: 2px;
}

.set-input:focus {
  outline: none;
  background-color:  #e7b22c;
  color: #000000;
}

.set-description {
  font-size: 12px;
  padding: 5px 10px;
}

#set-tasks img, 
#set-items img {
  width: 60px;
}

.el-three {
  gap: 15px;
}

#main-calcs {
  margin-top: 20px;
  width: 90%;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

#calcs-left{
  width: 30%;
  max-width: 260px;
  gap: 30px;
}

#price-line {
  height: auto;
  padding: 30px 0;
}

#price-title {
  font-size: 30px;
}

#calcs-body {
  width: 100%;
  max-width: 250px;
  height: 100%;
  background-image: url("../img/bg/bg2.jpg");
  gap: 30px;
  font-size: 25px;
  padding: 30px 20px;
  border-radius: 20px;
}

#rent-calc {
  color:rgb(12, 175, 66)
}

#tasks-calc {
color: #d6a425;
}

#expenses-calc {
  color: #c02020
}

#calcs-line1 {
}

.bl {
  color: black;
}

.credits {
  bottom: 1px;
  font-size: 10px;
}

#results-title,
#calcs-title {
  font-size: 50px;
}

#results-ne {
  color:  rgb(21, 107, 187)
}

#results-ninti {
  color: #d6a425;
}

#results-usd {
  color:rgb(12, 175, 66)
}

#results-usd-7,
#results-usd-30 {
  font-size: 20px;
}

#price-description,
#price-disc,
#price-docu {
  font-size: 10px;
}

#price-description {
  margin-top: 20px;
}

#price-disc a,
#price-docu a {
  color: #ff9595;
}

#price-disc {
  padding-top: 10px;
}

#price-wrap1 {
}

#text-price {
  background: rgba(255, 255, 255, 0.692);
  border: #333333 dotted 2px;
  text-align: center;
  overflow: hidden;
  font-size: 25px;
  font-family: 'Bebas Neue', 'Courier New', Courier, monospace;
  padding: 2px 10px;
  color: #000000;
}

#calcs-right {
  width: 30%;
  max-width: 250px;
  justify-content: space-between;
  align-self: stretch;
}

.calcs-cards {
  width: 100%;
  max-width: 250px;
  height: 150px;
  border: solid 2px white;
  background-color: #333333;
  border-radius: 20px;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  gap: 2px;
}

#roi-calculator {
  height: 200px;

}

.calcs-title {
  font-size: 30px;
}

.calcs-desc {
  font-size: 13px;
}

#converter-input,
.exchange-input,
.roi-input {
  width: 100px;
  background:none;
  border: white dotted 2px;
  color:  rgb(67, 159, 245);
  text-align: center;
  overflow: hidden;
  font-size: 25px;
  font-family: 'Bebas Neue', 'Courier New', Courier, monospace;
  padding: 2px;
}

.roi-description {
  font-size: 14px;
}

.roi-input {
  font-size: 20px;
}

#invested-input {
  color: #ff9595;
}

#produced-input {
  color: rgb(12, 175, 66);
}

.color-ninti {
  color: #e7b22c;
}

.color-usd {
  color: rgb(12, 175, 66);
}

#roi-days {
  color: #e7b22c;
}

#ninti-exchange {
  height: fit-content;
  gap: 15px;
}

.exchange-input {
  font-size: 20px;
}

#exchange-ninti-usd {
  color:#e7b22c;
}

#exchange-usd-ninti {
  color:rgb(12, 175, 66);
}

.exchange-subtitle  {
  font-size: 15px;
}

.exchange-result {
  font-size: 14px;
} 

footer {
  margin-top: 5px;
}

footer a,
footer a:active,
footer a:visited {
  color: #e7b22c;
}

.cl-yellow {
  color:#e7b22c;
}

.cl-green-light {
  color:rgb(12, 175, 66);
}

@media screen and (max-width: 580px) {
  #main-settings {
    flex-direction: column;
  }

  #main-calcs {
    width: 100%;
    flex-direction: column;
  }

  #calcs-body {
    height: 100%;
    background-image: url("../img/bg/bg2.jpg");
    gap: 30px;
    font-size: 30px;
    padding: 30px 80px;
    border-radius: 20px;
    flex-direction: column;
  }

  #calcs-line1 {
    flex-direction: column;
  }

  #results-line {
    flex-direction: column;
  }

  
}

/* extra settings */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}